php_value magic_quotes_gpc 0
php_value register_globals 0

AddDefaultCharset UTF-8
Options +FollowSymlinks
Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php
